@charset "utf-8";
/* CSS Document */
/* 
========================================
  Custom Styles
========================================
*/
html {
  height: 100%;
}
body {
	background-image: url("../images/ep_naturalblack.png");
	background-size: 100%;
	min-height: 100%;
	width: 100%;
	position: absolute;
	height: auto;
}
/*
 ========================================
  Typogrophy
 ========================================
*/
h1 {
	font: 400 22px/26px  Times, "Times New Roman", serif;
}
h2 {
	font: 700 20px/24px  Times, "Times New Roman", serif;
}
h3 {
	font: 300 18px/24px  Times, "Times New Roman", serif;
}
h1,
h2,
h3 {
	color: #4d4848;
	text-align: center;
}
p {
	font: 300 16px/20px 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #4d4848;
	padding: 10px 5px;
	line-height: 150%;
}
/*
 ========================================
  Grid
  ========================================
*/

#header-image {
	width: 960px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid;
	border-color: #4d4848;
}
#primary-box {
	width: 960px;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10ox;
	height: 600px;
	background: #fff;
	border: solid;
	border-color: #4d4848;
}
#game-image-div {
	width: 45%;
	height: auto;
	position: absolute;
	left: 0;
	padding: 2px;
}
#game-container {
	width: 45%;
	float: left;
	padding: 2px;
	position: absolute;
	right: 0;
	border-width: 1px;
}
.game-photo {
	display: block;
	margin: 5px auto;
	width: 200px;
	}
 .letters {
	text-align: center;
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
  }
#answer-reveal {
	width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#used-letters {
	width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.letter-box{
	width: 30px;
    height: 30px;
    border-bottom: solid;
	border-color: #4d4848;
	display: inline-block;
	margin: 5px;
	padding: 5px;
}
/*
 ========================================
  Clearfix
  ========================================
*/
.game-photo:before,
.game-photo:after,
.letters:before,
.letters:after {
	content: "";
	display: table;
}
.game-photo:after,
.letters:after {
	clear: both;
}
.game-photo,
.letters {
	clear: both;
	zoom: *1;
}
/*
 ========================================
  Media Queries
  ========================================
*/

@media screen and (max-width: 980px) {
	body {
		width: 100%;
	}
	#header-image {
		width: 100%;
		height: auto;
	
	}
	#game-image-div {
		width: 50%;
		display: inline-block;
	}
	#game-container {
		width: 50%;
		display: inline-block;
	}
	.game-photo {
		width: 100%;
	}

}
